/*-------------------------*/
/*----CrystalsCollector----*/
/*-------------------------*/

.crystals-collector {
	background-image: url(../images/spiration-light.png);
}

.crystals-collector h1 {
	background-color: #fff;
	background-color: #d60ad6;
	color: #fff;
}

.card-header {
	background-color: #d60ad6;
	font-weight: 600;
	color: #fff;
}

.gems {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

.crystal {
	min-width: 63px;
    width: 63px;
    height: 72px;
	background-repeat: no-repeat;
	background-image: url(../images/gems.jpg);
	background-size: 254px 194px;
	cursor: pointer;
}

#option-1 {
    background-position: 0 -12px;
}

#option-2 {
	background-position: -63px -13px;
}

#option-3 {
	background-position: -2px -81px;
}

#option-4 {
	background-position: -179px -90px;
}

#option-1:hover,
#option-2:hover,
#option-3:hover,
#option-4:hover {
	transform: scale(1.2);
	animation: jiggle 750ms linear;
}

@keyframes jiggle {
	0% { transform: scale(1.2);	}
	20% { transform: scale(1.2) rotate(-30deg); }
	40% { transform: scale(1.2) rotate(30deg); }
	60% { transform: scale(1.2) rotate(-10deg); }
	80% { transform: scale(1.2) rotate(10deg); }
	100% { transform: scale(1.2); }
}

#gem-card {
	background-color: #fff;
}

#target-number,
#score,
#record {
	font-size: 25px;
}

.hide-show {
	position: relative;
	color: #000;
	padding: 2px 5px;
	background-color: #eee;
	border-radius: 5px;
	cursor: pointer;
	overflow: hidden;
}

.hide-show:hover {
	box-shadow: 0 0 10px rgba(0,0,0,0.6), inset 0 0 10px rgba(0,0,0,0.6); 
	color: #777;
}

.hide-show:hover::after {
	content: '';
	position: absolute;
	width: 115%;
	height: 100%;
	background: linear-gradient(-8deg, transparent 0%, rgba(0,0,0,0.3) 50%, transparent 100%);
	right: -5px;
	top: 2px;
	transform: rotate(-30deg);
}

/*-------------------*/
/*----Star Wars -----*/
/*-------------------*/

.star-wars {
	background: url(../images/xwing-bg.jpg) no-repeat;
	/*background-size: cover;*/
	background-size: 100%;
	font-family: Consolas,serif;
	padding: 10px;
	color: #000;
}

.star-wars .container {
	max-width: 100%;
	padding: 0;
	margin: 0;
}

.star-wars h1,
.star-wars h3,
.star-wars ul,
.star-wars p  {
	margin-bottom: 0;
}

.star-wars h1 {
	font-size: 40px;
	text-align: right;
	margin-right: 100px;
}

.star-wars h3 {
	font-size: 28px;
	line-height: 28px;
}

.star-wars p {
	line-height: 16px;
}

.character-list {
	display: flex;
}

.character {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	border: 2px solid #000;
	background-color: #fff;
	padding: 0 5px;
	cursor: pointer;
	max-width: 174px;
}

.available {
	background-color: #fff;
	border: 2px solid #00e700;
}

.character img {
	width: 150px;
	height: 75px;
	margin: 0 5px;	
}

.enemy {
	background-color: #f00;
	border: 2px solid #000;
}

.defender {
	background-color: #000;
	border: 2px solid green;
	color: #fff;
}

.player-area,
.enemies-area,
.defender-area {
	display: flex;
}

.player-area {
	height: 113px;
}

.defender-area {
	flex-flow: column nowrap;
	height: 113px;
}

/*-----------------*/
/*----Game Menu----*/
/*-----------------*/

.menu {
	display: flex;
	position: absolute;
	top: 5px;
	margin-top: 8px;
	margin-left: 5px;
	background-color: #f8f8f8;
	border-radius: 4px;
	cursor: pointer;
	left: 10px;
}

.menu.active .btn-menu {
	border: 0;
}

.btn-menu:hover {
	background-color: #ddd;
}

.menu:focus,
.btn-menu:focus {
	outline: 0;
}

.menu .icon-bar {
	background-color: #888;
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
}

.menu .icon-bar+.icon-bar {
	margin-top: 4px;
}

.btn-menu {
	position: relative;
	top: 0px;
	left: 0px;
	padding: 9px 10px;
	border-radius: 4px;
	background-color: #f8f8f8;
	border: 1px solid #aaa;
	cursor: pointer;
}

.menu.active {	
	background-color: #f8f8f8;
	border: 1px solid #aaa;
	cursor: initial;
}

.menu-right {
	display: none;
	flex-flow: column nowrap;
	font-family: "Segoe UI", Arial, sans-serif;
}

.menu-right h2 {
	margin-top: 10px;
	font-size: 12px;
	text-align: center;
}

.menu-right button {
	margin-bottom: 10px;
	cursor: pointer;
	background-color: #444;
	color: #eee;
	border: 1px solid transparent;
	border-radius: 4px;
	outline: 0;
}

.games {
	display: flex;
	flex-flow: column;
}

.game-cc.active,
.game-cc:hover {
	box-shadow: 0 0 20px #d60ad6, inset 0 0 10px rgba(255,255,255,0.8);
}

.game-sw.active,
.game-sw:hover {
	box-shadow: 0 0 20px rgba(0,0,255,0.8), inset 0 0 10px rgba(255,255,255,0.8);
}

.difficulty {
	display: flex;
	justify-content: space-around;
}

.difficulty .easy.active,
.difficulty .easy:hover {
	box-shadow: 0 0 20px rgba(0,255,0,0.8),inset 0 0 10px rgba(255,255,255,0.8);
	color: rgba(0,255,0,0.8);
}

.difficulty .hard.active,
.difficulty .hard:hover {
	box-shadow: 0 0 20px rgba(255,0,0,0.8), inset 0 0 10px rgba(255,255,255,0.8);
	color: rgba(255,0,0,0.8);
}