h1 {
	background-color: #fff;
	background-color: #d60ad6;
	color: #fff;
}

.card-header {
	background-color: #d60ad6;
	font-weight: 600;
	color: #fff;
}

.gems {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

.crystal {
	min-width: 63px;
    width: 63px;
    height: 72px;
	background-repeat: no-repeat;
	background-image: url(../images/gems.jpg);
	background-size: 254px 194px;
	cursor: pointer;
}

#option-1 {
    background-position: 0 -12px;
}

#option-2 {
	background-position: -63px -13px;
}

#option-3 {
	background-position: -2px -81px;
}

#option-4 {
	background-position: -179px -90px;
}

#option-1:hover,
#option-2:hover,
#option-3:hover,
#option-4:hover {
	transform: scale(1.2);
	animation: jiggle 750ms linear;
}

@keyframes jiggle {
	0% { transform: scale(1.2);	}
	20% { transform: scale(1.2) rotate(-30deg); }
	40% { transform: scale(1.2) rotate(30deg); }
	60% { transform: scale(1.2) rotate(-10deg); }
	80% { transform: scale(1.2) rotate(10deg); }
	100% { transform: scale(1.2); }
}

#gem-card {
	background-color: #fff;
}

#target-number,
#score,
#record {
	font-size: 25px;
}

.hide-show {
	position: relative;
	color: #000;
	padding: 2px 5px;
	background-color: #eee;
	border-radius: 5px;
	cursor: pointer;
	overflow: hidden;
}

.hide-show:hover {
	box-shadow: 0 0 10px rgba(0,0,0,0.6), inset 0 0 10px rgba(0,0,0,0.6); 
	color: #777;
}

.hide-show:hover::after {
	content: '';
	position: absolute;
	width: 115%;
	height: 100%;
	background: linear-gradient(-8deg, transparent 0%, rgba(0,0,0,0.3) 50%, transparent 100%);
	right: -5px;
	top: 2px;
	transform: rotate(-30deg);

}